/*
.container-fluid {
    background-color: #F1EFEE;
}

.row {
    background-color: floralwhite;
    height: 4.7rem;
}
*/

/* Takes every class that starts with "col-" in the name 

[class*="col-"] {
    
} */

.signin-body {
    background-color: beige;
}

.signin-container {
    margin-top: 7%;;
}

.signin-card {
    padding: 40px 0px 20px;
    background-color: floralwhite;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.signin-img {
    padding: 0 2rem 2rem;
    margin: auto;
    display: block;
    width: 46%;
    height: auto;
}

.signin-form {
    max-width: 340px;
    margin: auto;
}

.signin-btn {
    color: #fff;
    background-color: #001A4F;
    width: 100%;
    margin-bottom: 0.8rem;
}

.need-help {
    text-decoration: none;
}

.need-help:hover {
    text-decoration: underline;
}

.create-new-account {
    font-size: 1.2rem;
    text-align: center;
    display: block;
    margin-top: 10px;
}